// fonts
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Raleway:wght@900&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    height: 100%;
    font-family: "Manrope", sans-serif;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}
